
.complete-to-do-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-inline: 10px;
}

.completedButton {
    box-shadow: 0px 0px 4px 1.2px rgba(6, 125, 16, 0.28);
}

