@import '../variables';

.search-to-do {
    display: flex;
    &__input-container {
        width: 75%;
    }
    &__input {
        display: flex;
        align-items: center;
        margin-block-end: 12px;
        & input {
            display: flex;
            width: 100%;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 0 10px;
            &:focus {
                outline: none;
            }
        }
    }
    &__functionalities {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 10px;
        width: 25%;
        &:hover {
            cursor: pointer;
        }
    }
    &__label {
        font-size: 1.2rem;
        color: $font-color__light;
        margin-bottom: 5px;
    }
}


