// Normal theme
$primary-color: #091F2C;
$secondary-color: #D50030;

$second-color__hover: #c30431;

// Complementary colors
$complementary-color__light: #BBDDE6;
$complementary-color__dark: #253746;

// technologies
$complementary-color__pink: #FF70BD;
// complementary colors __ for content
$complementary-color__orange: #FF6720;
$complementary-color__blue: #03b7f9;
$complementary-color__yellow: #FDDA25;

// fonts
$font-color__light: #EEE;
$font-color__primary: #091F2C;


